/* Basic background and font family */
body {
    background-color: darkslategray;
    color: white;
    font-family: arial;
}

/* For Menu Bar */
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #000000;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}

.dropbtn {
    background-color: #000000;
    color: white;
    border: none;
    font-size: 16px;
    padding: 16px;
    text-align: center;
}

li a:hover {
background-color: #757575;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index:1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #757575;
}

/* End Menu Bar*/